---
type Props = {
    title: string;
}
const {title = "Section"} = Astro.props;
---

<section id={title.toLowerCase().replaceAll(' ' , '')} class="min-h-screen px-4 py-10 w-screen !overflow-x-hidden">
    <div class="w-full grid place-items-center">
        <h2 class="text-6xl">{`<${title} />`}</h2>
    </div>
    <div class="w-full mt-10 px-4">
        <slot />
    </div>
</section>